USE [master]
GO
/****** Object:  Database [BDUsuario]    Script Date: 18/8/2023 10:15:35 ******/
CREATE DATABASE [BDUsuario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDUsuario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDUsuario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDUsuario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDUsuario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDUsuario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDUsuario]
GO
/****** Object:  User [RN1]    Script Date: 18/8/2023 10:15:35 ******/
CREATE USER [RN1] FOR LOGIN [RN1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RN]    Script Date: 18/8/2023 10:15:35 ******/
CREATE USER [RN] FOR LOGIN [RN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 18/8/2023 10:15:35 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [RN1]
GO
ALTER ROLE [db_owner] ADD MEMBER [RN]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/8/2023 10:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](max) NOT NULL,
	[contrasenna] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
